<html>
    <head>
        <h1>Add a company</h1>
    </head>
    <body>
        <form method="POST" action="/post">
            <p>
                <label for="name">Name:</label>
                <input name="name">
            </p>
            
        
            <p>
                <label for="field">Field:</label>
                <input name="field">
            </p>
        
            <p>
                <label for="manager">Manager:</label>
                <input name="manager">
            </p>

            <p>
                <label for="phone">Phone:</label>
                <input name="phone">
            </p>
            
            <input type="submit">

            <a href="/">
                <input type="button" value="Home-page">
            </a>
        </form>
    </body>
</html>
