<html>
    <head>
        <h1>Here is the info for the company {{ name }}</h1>
    </head>
    <body>
            <p>
                The company name is {{ name }}
            </p>
            <p>
                The company field is {{ field }}
            </p>
            <p>
                The company manager is {{ manager }}
            </p>
            <p>
                The company phone is {{ phone }}
            </p>
            <p>
                <a href="/">
                    <input type="button" value="Home-page">
                </a>

                <a href="/get">
                    <input type="button" value="Find another company">
                </a>
            </p>
        </form>
    </body>
</html>
